@font-face {
    font-family: PixelSplitter-Bold;
    src: url("../pixelcounty/font/PixelSplitter-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Pixel-Life;
    src: url("../pixelcounty/font/Pixel-Life.ttf");
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pixel-lightblue: #9ea9ed;
}

body {
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.pageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-shadow: 0 0 50px var(--pixel-lightblue) inset;
    flex-direction: column;
}

.earthWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logoWrapper {
    display: flex;
    justify-content: center;
    position: center;
}

.earth {
    height: 40vh;
    animation: earthSpin 60s infinite linear;
    z-index: 10;
    padding-bottom: 5%;
}

.logo {
    height: 50vh;
    image-rendering: pixelated;
    z-index: 100;
    position: fixed;
}

@keyframes earthSpin {
    0% {
        transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(36deg);
    }
    20% {
        transform: rotateZ(72deg);
    }
    30% {
        transform: rotateZ(108deg);
    }
    40% {
        transform: rotateZ(144deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
    60% {
        transform: rotateZ(216deg);
    }
    70% {
        transform: rotateZ(252deg);
    }
    80% {
        transform: rotateZ(288deg);
    }
    90% {
        transform: rotateZ(324deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.infoWrapper {
    display: flex;
    justify-content: center;
}

.descriptionText {
    text-align: center;
    color: white;
    font-family: Pixel-Life;
    padding-top: 25px;
    width: 75vw;
}

.comingSoonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comingSoonText {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5%;
    font-family: PixelSplitter;
    font-size: 50px;
    min-font-size: 30px;
    max-font-size: 50px;
}

.socialWrapper {
    position: fixed;
    bottom: 5vh;
}

.socialIcon {
    position: relative;
    background-color: #999999;
    color: #444444;
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
    line-height: 50px;
    font-size: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.socialIcon:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.25);
}

.socialIcon:hover span {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.facebook:hover {
    background-color: #3b5999;
    background-image: linear-gradient(#3b5999, #5069a1);
    color: #ffffff;
}
.twitter:hover {
    background-color: #46c1f6;
    color: #ffffff;
}
.instagram:hover {
    background-color: #e1306c;
    color: #ffffff;
}
.github:hover {
    background-color: #333333;
    color: #ffffff;
}
.youtube:hover {
    background-color: #de463b;
    color: #ffffff;
}

@media (max-width: 812px) {
    .comingSoonText {
        font-size: 35px;
    }
    .descriptionText {
        width: 75vw;
        font-size: 20px;
    }
    .comingSoonWrapper {
        top: 62.5%;
    }
    .socialIcon {
        width: 25px;
        height: 25px;
        font-size: 12px;
        line-height: 25px;
    }
}
