*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pixel-lightblue: #9ea9ed;
}

body {
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.pageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-shadow: 0 0 50px var(--pixel-lightblue) inset;
    flex-direction: column;
}

.earthWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logoWrapper {
    display: flex;
    justify-content: center;
    position: center;
}

.earth {
    height: 40vh;
    animation: earthSpin 60s infinite linear;
    z-index: 10;
    padding-bottom: 5%;
}

.logo {
    height: 50vh;
    image-rendering: pixelated;
    z-index: 100;
    position: fixed;
}

@keyframes earthSpin {
    0% {
        transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(36deg);
    }
    20% {
        transform: rotateZ(72deg);
    }
    30% {
        transform: rotateZ(108deg);
    }
    40% {
        transform: rotateZ(144deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
    60% {
        transform: rotateZ(216deg);
    }
    70% {
        transform: rotateZ(252deg);
    }
    80% {
        transform: rotateZ(288deg);
    }
    90% {
        transform: rotateZ(324deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.infoWrapper {
    display: flex;
    justify-content: center;
}

.descriptionText {
    text-align: center;
    color: white;
    font-family: Pixel-Life;
    padding-top: 25px;
    width: 75vw;
}

.comingSoonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comingSoonText {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5%;
    font-family: PixelSplitter;
    font-size: 50px;
    min-font-size: 30px;
    max-font-size: 50px;
}
